            @import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=JetBrains+Mono:wght@400;600&family=Red+Hat+Display:wght@500;700&display=swap');
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
            @layer base {
                .front-end-body {
                    background: linear-gradient(to bottom, white 0%, white 70%, theme(colors.indigo-800)60%, theme(colors.indigo-800)100%);
                }
                @media screen(lg) {
                    .front-end-body {
                        background: linear-gradient(to right, white 0%, white 70%, theme(colors.indigo-800)60%, theme(colors.indigo-800)100%);
                    }
                    .body-summary {
                        background: theme(colors.pale-blue) url("/public/order-summary/images/pattern-background-desktop.svg") repeat-x;
                    }
                }
                .body-summary {
                    background: theme(colors.pale-blue) url("/public/order-summary/images/pattern-background-mobile.svg") repeat-x;
                }
                .svg {
                    position: absolute;
                    display: inline;
                    width: 24px;
                    height: 24px;
                    bottom: 4%;
                    margin-left: 6px;
                    margin-bottom: 6px;
                }
                .bill-input {
                    text-align: right;
                }
                input[type="text"]::placeholder {
                    /* Firefox, Chrome, Opera */
                    text-align: right;
                }
                #btnReset {
                    width: 100%;
                    background: hsl(172, 67%, 45%);
                    color: hsl(183, 100%, 15%);
                    font-weight: bold;
                }
            }
            
            @layer components {
                .btndeco {
                    @apply w-full p-2 text-center text-white bg-bright-blue shadow-blue-500/50 shadow-2xl rounded-md font-red-hat text-sm
                }
                .atm-container {
                    @apply shadow-2xl rounded-md p-1 max-w-md
                }
                .atm-sub-container {
                    @apply shadow-2xl rounded-md bg-violet-800
                }
                .wrap-container-atm {
                    @apply grid grid-cols-4 max-w-lg pt-6
                }
                .wrap-sub-atm {
                    @apply max-w-sm rounded-2xl min-h-screen col-span-3 p-2 bg-slate-300
                }
                .container-atm {
                    @apply bg-fuchsia-900 grid gap-1 p-2 rounded-lg
                }
                .subcontainer-atm {
                    @apply grid grid-cols-5 gap-1 justify-between
                }
                .square-atm {
                    @apply bg-slate-100 p-1 rounded-sm
                }
                .first-square-card-atm {
                    @apply w-2 w-2 flex flex-col gap-1
                }
                .second-square-card-atm {
                    @apply w-2 grid grid-rows-4 gap-1 ml-2
                }
                .btn-digit-atm {
                    @apply text-center rounded-md bg-slate-100 font-jetbrain p-2
                }
                .digits-atm {
                    @apply grid grid-cols-3 gap-1
                }
                .atm-card-plus {
                    @apply absolute left-4 bg-white shadow-md rounded-full w-16 h-16 border-2 p-3 mt-5
                }
            }